<footer x-init>
  <div class="prose mx-auto text-center pb-6">
    <p><span x-text="(new Date()).getFullYear()">{% year %}</span>&nbsp;©&nbsp;<a href="https://freshjuice.dev">FreshJuice</a>. All&nbsp;rights&nbsp;reserved.</p>
  </div>
</footer>
