<!doctype html>
<html lang="{{ metadata.language }}" class="{{ htmlClass }}" data-layout="{{ layout | replace('.njk','') }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- if noindex %}
    <meta name="robots" content="noindex">
  {%- endif %}

  {# Metadata #}
  <title>{{ title or metadata.title }}{{ suffix or metadata.suffix }}</title>
  <meta name="author" content="{% if author %}{{ author | getAuthorData('name') }}{% else %}Alex Zappa{% endif %}">
  <meta name="description" content="{{ desc or description or metadata.description }}">
  <meta name="generator" content="{{ eleventy.generator }}">

  {# Canonical #}
  <link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.url) }}">

  {# Favicons #}
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#fafafa">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#18181b" media="(prefers-color-scheme: dark)">
  <meta name="theme-color" content="#fafafa" media="(prefers-color-scheme: light)">

  {# Social #}
  <meta property="og:title" content="{{ title or metadata.title }}{{ suffix or metadata.suffix }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="FreshJuice">
  <meta property="og:description" content="{{ desc or description or metadata.description }}">
  <meta property="og:image" content="{{ metadata.url }}/og-image.png">
  <meta property="og:image:alt" content="{{ title or metadata.title }}">
  <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:title" content="{{ title or metadata.title }}{{ suffix or metadata.suffix }}">
  <meta name="twitter:description" content="{{ desc or description or metadata.description }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FreshJuiceDev">
  <meta name="twitter:creator" content="@FreshJuiceDev">
  <meta name="twitter:image" content="{{ metadata.url }}/og-image.png">
  <meta name="twitter:image:alt" content="{{ title or metadata.title }}">

  {# Plausible Analytics #}
  <script defer data-domain="campaign-url-builder.com" src="https://firebird.beastful.org/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

  {# Styles #}
  <link rel="preload" href="/css/main.css?v={{ build.hash.short }}" as="style">
  <link rel="stylesheet" href="/css/main.css?v={{ build.hash.short }}">

</head>
<body class="bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-neutral-300 {{ bodyClass }}">
<a href="#skip" class="sr-only">Skip to main content</a>

<div class="flex flex-col w-full justify-between min-h-screen">
  {% include "header.njk" %}

  <div id="skip" class="mx-auto flex w-full max-w-7xl flex-auto flex-col justify-stretch px-6 py-8 sm:py-12 lg:py-24 lg:px-8">
    {{ content | safe }}
  </div>

  {% include "footer.njk" %}
</div>

{# Scripts #}
{%- if partialScripts %}
  {% for script in partialScripts %}
    {%- if script.startsWith('http') or script.startsWith('//') %}
      <script defer src="{{ script }}" type="text/javascript"></script>
    {%- else %}
      <script defer src="/js/{{ script }}.js?v={{ build.hash.short }}" type="text/javascript"></script>
    {%- endif %}
  {% endfor %}
{%- endif %}
<script defer src="/js/main.js?v={{ build.hash.short }}" type="text/javascript"></script>


<!-- Current page: {{ page.url | htmlBaseUrl }} -->
</body>
</html>
